#checkpoint
checkpoints/

#data
data/canard/
data/canard4ir/
# data/cast2019/
# data/cast2020/
data/orconvqa/
quac/
monot5/
monot5-probs/

#run
runs/rerank_step1

#compile and logging
__pycache__/
logs/
*swp
archived/
